.contact-form {
  text-align: center;
  display: flex;
  width: 150%;
  height: 70vh;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #1A5276;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-form h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: fantasy;
  color: #fff;
}

.contact-form form {
  display: flex;
  flex-direction: column;

  width: 100%;
  color: #fff;
  max-width: 500px;
  margin-top: 20px;
}

.contact-form label {
  font-size: 1.2rem;
  margin-top: 10px;
  font-family: fantasy;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  font-family: fantasy;
}

.contact-form button:hover {
  background-color: #3e8e41;
}